<footer>
    <div id="inizio">
        <div id="box1">
            <div id="treliste">
             <div id="lista1">
                 <ul>
                     <li><a href="#">GIFT CARD</a></li>
                     <li><a href="#">TROVA UN NEGOZIO</a></li>
                     <li><a href="#">NIKE JOURNAL</a></li>
                     <li><a href="#">DIVENTA MEMBER</a></li>
                     <li><a href="#">SCONTO STUDENTI</a></li>
                     <li><a href="#">Feedback</a></li>
                     <li><a href="#">CODICI PROMOZIONALI</a></li>
                 </ul>
             </div>
             <div id="lista2">
                 <ul>
                     <li><a href="#">ASSISTENZA</a></li>
                     <li><a href="#">Hai bisogno di aiuto?</a></li>
                     <li><a href="#">Stato ordine</a></li>
                     <li><a href="#">Spedizione e consegna</a></li>
                     <li><a href="#">Resi</a></li>
                     <li><a href="#">Opzioni di pagamento</a></li>
                     <li><a href="#">Contattaci</a></li>
                     <li><a href="#">Recensioni</a></li>
                     <li><a href="#">Assistenza Codici promozionali Nike</a></li>
                    
                 </ul>
             </div>
             <div id="lista3">
                 <ul>
                     <li><a href="#">AZIENDA</a></li>
                     <li><a href="#">Informazioni su Nike</a></li>
                     <li><a href="#">News</a></li>
                     <li><a href="#">Lavora con noi</a></li>
                     <li><a href="#">Investitori</a></li>
                     <li><a href="#">Sostenibilità</a></li>
                     <li><a href="#">Obiettivo</a></li>
                 </ul>
                 
             </div>
             
            </div>
            <div id="icone">
             <ul>
                 <li><a href="https://twitter.com/Nike"></a></li>
                 <li><a href="https://www.facebook.com/nike"></a></li>
                 <li><a href="https://www.youtube.com/user/nike"></a></li>
                 <li><a href="https://www.instagram.com/nike"></a></li>
             </ul>
            </div>
     
         </div>
         <div id="box2">
             <ul>
                 <li><a href="#">Guide</a></li>
                 <li><a href="#">Condizioni d'uso</a></li>
                 <li><a href="#">Condizioni di vendita</a></li>
                 <li><a href="#">Info Legali e societarie</a></li>
             </ul>
         </div>
         <div id="box3">
             <div id="sinistra">
                 <ul>
                     
                     <li><img src="../../assets/icone/maps-and-flags.png" alt=""></li>
                     <li>Italia</li>
                     <li>© 2024 LabForAir,Dicon</li>
     
                 </ul>   
             </div>
             <div id="destra">
                 <ul>
                     <li><a href="#">Informativa sulla privacy e sui cookie</a></li>
                     <li><a href="#">Impostazioni dei cookie</a></li>
                 </ul>
     
             </div>
     
         </div>
    </div>
    <div id="dopo">
        <div id="box11">
            <div id="lista1">
                <ul>
                    <li><a href="#">GIFT CARD</a></li>
                    <li><a href="#">TROVA UN NEGOZIO</a></li>
                    <li><a href="#">NIKE JOURNAL</a></li>
                    <li><a href="#">DIVENTA MEMBER</a></li>
                    <li><a href="#">SCONTO STUDENTI</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">CODICI PROMOZIONALI</a></li>
                </ul>
            </div>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      Assistenza
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div id="lista1">
                            <ul>
                                <li><a href="#">Hai bisogno di aiuto?</a></li>
                                <li><a href="#">Stato ordine</a></li>
                                <li><a href="#">Spedizione e consegna</a></li>
                                <li><a href="#">Resi</a></li>
                                <li><a href="#">Opzioni di pagamento</a></li>
                                <li><a href="#">Contattaci</a></li>
                                <li><a href="#">Recensioni</a></li>
                                <li><a href="#">Assistenza Codici promozionali Nike</a></li>
                               
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Azienda
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <div id="lista1">
                            <ul>
                                
                                <li><a href="#">Informazioni su Nike</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Lavora con noi</a></li>
                                <li><a href="#">Investitori</a></li>
                                <li><a href="#">Sostenibilità</a></li>
                                <li><a href="#">Obiettivo</a></li>
                            </ul>
                            
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div id="icone">
            <ul>
                <li><a href="https://twitter.com/Nike"></a></li>
                <li><a href="https://www.facebook.com/nike"></a></li>
                <li><a href="https://www.youtube.com/user/nike"></a></li>
                <li><a href="https://www.instagram.com/nike"></a></li>
            </ul>
        </div>
        <div id="box33">
            <div id="sinistra">
                <ul>
                    
                    <li><img src="../../assets/icone/maps-and-flags.png" alt=""></li>
                    <li>Italia</li>
                    <li>© 2024 LabForAir,Dicon</li>
    
                </ul>   
            </div>
        
    
        </div>
        <div id="box22">
            <ul>
                <li><a href="#">Guide</a></li>
                <li><a href="#">Condizioni d'uso</a></li>
                <li><a href="#">Condizioni di vendita</a></li>
                <li><a href="#">Info Legali e societarie</a></li>
            </ul>

        </div>
        

    </div>
</footer>
