<div class="menu">
    <div id="uno">
      <ul>
        <li>Scarpe</li>
        <li>Giacche</li>
        <li>Felpe & Maglie </li>
        <li>Pantaloni & Tights</li>
        <li>Pantaloncini</li>
        <li>Top, maglie e t-shirt</li>
        <li>Compression fit e <br>
        strati base</li>
        <li>Tute sportive</li>
        <li>Calzini & Underwear</li>
        <li>Accessori</li>
    </ul>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h4>Categoria</h4>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li><a [routerLink] ="['/novita','Sneakers']">Sneakers</a></li>
                  <li><a [routerLink] ="['/novita','Running']">Running</a></li>
                  <li><a [routerLink] ="['/novita','Basket']">Basket</a></li>
                  <li><a [routerLink] ="['/novita','Training']">Training</a></li>
                  <li><a [routerLink] ="['/novita','Trail Running']">Trail Running</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <h4>Colori </h4>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="contenitore2">
                  <ul>
                    <li><a [routerLink]="['/novita','Sneakers']"><div class="color color1"></div>Viola</a></li>
                    <li><a [routerLink]="['/novita','Sneakers']"><div class="color color2"></div>Nero</a></li>
                    <li><a [routerLink]="['/novita','Sneakers']"><div class="color color3"></div>Rosso</a></li>
                    <li><a [routerLink]="['/novita','Sneakers']"><div class="color color4"></div>Arancione</a></li>
                    <li><a [routerLink]="['/novita','Sneakers']"><div class="color color5"></div>Blu</a></li>
                    <li><a [routerLink]="['/novita','Bianco']"><div class="color color6"></div>Bianco</a></li>
                    <li><a [routerLink]="['/novita','Marrone']"><div class="color color7"></div>Marrone</a></li>
                    <li><a [routerLink]="['/novita','Sneakers']"><div class="color color8"></div>Verde</a></li>
                    <li><a [routerLink]="['/novita','Sneakers']"><div class="color color9"></div>Giallo</a></li>
                    <li><a [routerLink]="['/novita','Sneakers']"><div class="color color10"></div>Multi</a></li>
                    <li><a [routerLink]="['/novita','Sneakers']"><div class="color color11"></div>Grigio</a></li>
                    <li><a [routerLink]="['/novita','Sneakers']"><div class="color color12"></div>Rosa</a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
         
        </div>
    </div>
  <div id="due">
    <div id="menu2">
      <ul>
        <li><a [routerLink] ="['/novita','Sneakers']">Sneakers</a></li>
        <li><a [routerLink] ="['/novita','Running']">Running</a></li>
        <li><a [routerLink] ="['/novita','Basket']">Basket</a></li>
        <li><a [routerLink] ="['/novita','Training']">Training</a></li>
        <li><a [routerLink] ="['/novita','Trail Running']">Trail Running</a></li>
      </ul>
      
    </div>
    <hr>
  </div>
        

      
   

</div>

